@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logon</title>
    <link href="~/Content/Logon.css" rel="stylesheet" />

    @section Scripts
    {
        <script>
            $(".toggle").on("click", function () {
                $(".container").stop().addClass("active");
            });

            $(".close").on("click", function () {
                $(".container").stop().removeClass("active");
            });

        </script>
    }

</head>
<body>
    <div class="pen-title">
        <h1>Srisawad K2 Portal</h1>
        <span>Developed by<i class='fa fa-code'></i> by <a href=''>Development Section</a></span>
    </div>
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="card"></div>
            <div class="card">
                <div class="button-container">
                    <button type="button" onclick="window.location.href='@Url.Action("FormLogin", "Logon")';" style="background-color: orange; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
                        <span style="color: white !important;">สำหรับสาขา</span>
                    </button>
                </div><br /><br />
                <div class="button-container">
                    <button type="button" onclick="window.location.href='@Url.Action("AdLogin", "Logon")';" style="background-color: blue; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
                        <span style="color: white !important;">สำหรับส่วนบุคคล</span>
                    </button>
                </div><br /><br />
            </div>

            @if (ViewBag.Message != null)
            {
                <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
                </script>

            }

        </div>



    }

</body>
</html>